version: '3'

services:
  web:
    container_name: mil_site
    build:
      context: ./app
      dockerfile: Dockerfile
    volumes:
#      - /app:/usr/src/app
      - .\app:/usr/src/app
    env_file:
      - .env
    ports:
      - 8000:8000
    depends_on:
      - db
    networks:
      - backend

  db:
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env-db
    ports:
      - 5432:5432
    networks:
      - backend

  db-admin:
    image: dpage/pgadmin4
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - 8080:80
    networks:
      - backend

#  nginx:
#    build: ./nginx
#    ports:
#      - 8000:80
#    depends_on:
#      - web

volumes:
  postgres_data:

networks:
  backend:
    driver: bridge