[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "==2.1"

[packages]
django-bootstrap-datepicker-plus = "==3.0.5"
docx-mailmerge = {editable = true,git = "https://github.com/ZhengMingpei/docx-mailmerge"}
lxml = "==4.4.1"
pytz = "==2019.3"
sqlparse = "==0.3.0"
#Django = "==2.2.6"
gunicorn = "*"
psycopg2-binary = "*"
django = "3.0"

[requires]
python_version = "3.7"
