body {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/bg_1.png");
    /* Center and scale the image nicely */
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
